<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% load static %}

    <p> Hello.</p>
    <a href="{% url 'engagement' %}">Engagement Tab</a>
<!-- 
    <p>Are you a student or staff? </p> -->
    <p>Upload your deadline CSV</p>
    
    <form action="{% url 'upload' %}" method="POST" enctype="multipart/form-data".>
        {{form.as_p}}
        {% csrf_token %}
        <button type="submit">Submit</button>
    </form>

    {% include 'includes/result.html' %}

   
    
</body>
</html>