<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <p> Hello.</p>

    <p>Are you a student or staff? </p>

    <select name="" id="">
        <option value="">Student</option>
        <option value="">Staff</option>
    </select>
    
    <div>
        <p> Choose by year </p>
        <select name="" id="">
            <option value="">Year 1</option>
            <option value="">Year 2</option>
            <option value="">Year 3</option>
            <option value="">Year 4</option>
            <option value="">Year 5</option>
            <option value="">PGT</option>
        </select>
    </div>

    <div>
       <p> Choose by Course</p>
        <input type="checkbox" id="inputCourse1">
        <label for="inputCourse1">Course 1</label>
        <input type="checkbox" id="inputCourse2">
        <label for="inputCourse2">Course 2</label>
        <input type="checkbox" id="inputCourse3">
        <label for="inputCourse3">Course 3</label>
        <input type="checkbox" id="inputCourse4">
        <label for="inputCourse4">Course 4</label>
    </div>
    
    {% include 'includes/result.html' %}
    
</body>
</html>